{% extends 'nav.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">{% endblock %}
<script type="text/javascript" src="{% static '/js/home.js' %}"></script>
{% block content %} 
<main class="app">
  <div class="boxes">
    <ul class="box">
      <li class="boxs"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

 
<section class="mainbody pb-5">
<div class="profile">
    <header class="header">
      <div class="perfil">
        <img src="{% static 'images/profile.jpg' %}" alt="foto de perfil" class="foto-perfil">
        <div class="description">
        
          <h1 class="white padding10">Nirajan Gautam</h1>
          <h3 class="white">web Developer & programmer</h3>
          <div class="icons">
           

         
            </a>
          </div>
        </div>
      </div>
      {% comment %} <button title="Tema" onclick="mudarTema()"></button> {% endcomment %}

    </header>
    </div>

    <!-- CONTENT -->
    <main class="content col-lg-3">
      <div class="container-projetos col-lg-3">
        <h2 class="white">Projetos</h2>
        <p class="line text-animation white">Visit my social profile for information</p>
      
        <div class="share-buttons-container">
  <div class="share-list">
    <!-- FACEBOOK -->
    <a class="fb-h" onclick="return fbs_click()" target="_blank">
      <img src="https://img.icons8.com/material-rounded/96/000000/facebook-f.png">
    </a>

    <!-- TWITTER -->
    <a class="tw-h" onclick="return tbs_click()"  target="_blank">
      <img src="https://img.icons8.com/material-rounded/96/000000/twitter-squared.png">
    </a>

    <!-- LINKEDIN -->
    <a class="li-h" onclick="return lbs_click()"  target="_blank">
      <img src="https://img.icons8.com/material-rounded/96/000000/linkedin.png">
    </a>

    <!-- REDDIT -->
    <a class="re-h" onclick="return rbs_click()" target="_blank">
      <img src="https://img.icons8.com/ios-glyphs/90/000000/reddit.png">
    </a>

    <!-- PINTEREST -->
    <a data-pin-do="buttonPin" data-pin-config="none" class="pi-h" onclick="return pbs_click()" target="_blank">
      <img src="https://img.icons8.com/ios-glyphs/90/000000/pinterest.png">
    </a>
  </div>
</div>
        
          
   
      </div>
    </section>
</main> 
<section class="we-offer-area text-center bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading text-center">
                        <h2>What we <span>Offer</span></h2>
                    </div>
                </div>
            </div>
                <div class="row our-offer-items less-carousel">
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-pen-fancy"></i>
                            <h4>Web Development</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-dharmachakra"></i>
                            <h4>App Development</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-tasks"></i>
                            <h4>Graphic Design</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    
                    <!-- End Single Item -->
                </div>
        </div>
    </section>



<script src="https://use.fontawesome.com/1744f3f671.js"></script>

{% block js %}<script type="text/javascript" src="{% static '/js/home.js' %}"></script>{% endblock %}
{% endblock content %}



{% block section %}
 
{% endblock section %}