* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: all ease-out 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f4f6;
    ;
}


/***** Navbar Section Starts ******/

nav {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #3542e4;
    text-decoration: none;
    font-size: 17px;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    padding: 8px;
    color: #f8f8f9;
    background-color: #3542e4;
    border-radius: 100%;
}

.logo:hover {
    background-color: #3542e4;
    padding: 8px;
    border-radius: 15%;
}

.logo::first-letter {
    color: var(--blue);
}

nav .nav a {
    margin-right: 50px;
}

nav .nav a:hover {
    color: white;
    background-color: #3542e4;
    padding: 8px;
    border-radius: 15%;
}

@media only screen and (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        line-height: 2;
        text-align: center;
    }
}


/* animation*/

#animate {
    position: absolute;
    top: 30px;
    left: 0px;
    /* transform: scaleX(-1); */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: move 25s ease infinite;
}

@keyframes move {
    50% {
        top: 70px;
        left: 2200px;
    }
    from {
        transform: scaleX(1);
    }
    to {
        transition-duration: 15s;
        transform: scaleX(-1);
    }
}